name: Semgrep

on:
  pull_request:
  workflow_dispatch: 
  push:
    branches: [main, master]

jobs:
  semgrep:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: returntocorp/semgrep-action@v1
        with:
          config: p/default
          generateSarif: "1"
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

      - uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep.sarif
