name: Example workflow for Maven using Snyk
on: 
  push:
  workflow_dispatch:
jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/maven@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          run: snyk test --all-projects --severity-threshold=high
      
      - name: Snyk Maven monitor (upload to Snyk UI)
        if: always()  # ensures it runs even if the test step fails
        uses: snyk/actions/maven@v4
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: monitor
          args: "" 

